#expression-box {
	margin: auto;
	margin-top: 5px;
	margin-bottom: 22px;
  padding-top: 10px;
  padding-bottom: 20px;
	width: 100%;
  border: solid 2px #eee;
  border-radius: 10px;
  color: #444;
  background-color: #eee;
}
