@use 'sass:math';

@function toRem($value) {
	@return math.div($value, 16px) * 1rem;
}

@function pastel($clr) { // return a pastel for color in arg
	$hue: hue($clr);
	$sat: 100%;
	$light: 80%;
	$pastel: hsl($hue, $sat, $light);

	@return $pastel;
}
