body {
	background-color: #888;
}

#app {
	width: 30%;
	min-width: 430px;
  margin-top: 100px;
}

#calc {
  background-color: #666;
	padding: 30px;
	border-radius: 10px;
  box-shadow: 5px 5px #444;
}
