@import "./variables";

@mixin inputStyle($standard-color, $hover-color) {
	background-color: $standard-color;
	&:hover {
		background-color: $hover-color;
	}
}

.btn {
	background-color: $color-btn;
	&:hover {
		background-color: pastel($color-btn);
	}
}

.btn,
.btn-specs,
.btn-operators,
.btn-others {
	margin: 2px;
	border-radius: 10px;
}

#input {
	display: grid;
	width: 100%; // taille global
	margin: auto; // centrer
	grid-template-columns: repeat(
		5,
		20%
	); // 5 colonnes dont 20% chacun (20% * 5 = 100%)
	grid-template-rows: repeat(5, 60px); // 5 lignes dont 50px chacun
	grid-template-areas: // definition de la zone des elements

		"clear begin end mod pi"
		"id7 id8 id9 div rac"
		"id4 id5 id6 multi carre"
		"id1 id2 id3 sub equal"
		"id0 virg dot add equal";
}

#virg,
#end,
#begin,
#dot {
	@include inputStyle($color-btn-others, pastel($color-btn-others));
}

#add,
#multi,
#div,
#sub {
	@include inputStyle($color-btn-operators, pastel($color-btn-operators));
}

#carre,
#pi,
#mod,
#rac {
	color: #eee;
	@include inputStyle($color-btn-specs, pastel($color-btn-specs));
}

#clear {
	color: #eee;
	grid-area: clear;
	@include inputStyle(rgb(212, 94, 51), rgb(235, 106, 59));
}

#equal {
	grid-area: equal;
	@include inputStyle($color-btn-equal, pastel($color-btn-equal));
}

#begin {
	grid-area: begin;
}

#end {
	grid-area: end;
}

#mod {
	grid-area: mod;
}

#pi {
	grid-area: pi;
}

#div {
	grid-area: div;
}

#rac {
	grid-area: rac;
}

#multi {
	grid-area: multi;
}

#carre {
	grid-area: carre;
}

#sub {
	grid-area: sub;
}

#dot {
	grid-area: dot;
}

#add {
	grid-area: add;
}

#id0 {
	grid-area: id0;
}

#id1 {
	grid-area: id1;
}

#id2 {
	grid-area: id2;
}

#id3 {
	grid-area: id3;
}

#id4 {
	grid-area: id4;
}

#id5 {
	grid-area: id5;
}

#id6 {
	grid-area: id6;
}

#id7 {
	grid-area: id7;
}

#id8 {
	grid-area: id8;
}

#id9 {
	grid-area: id9;
}
