#output-box {
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 10px;
	padding-bottom: 20px;
	width: 100%;
	border: solid 2px #eee;
	border-radius: 10px;
	background-color: rgb(190, 190, 190);
	color: rgb(65, 255, 40);
}
