@import './import/variables';
@import './import/fonction';

//local
@font-face {
	font-family: Quicksand-regular;
	src: url('./font/Quicksand-Regular.ttf');
}
@font-face {
	font-family: Quicksand-medium;
	src: url('./font/Quicksand-Medium.ttf');
}
@font-face {
	font-family: Quicksand-bold;
	src: url('./font/Quicksand-Bold.ttf');
}

* {
	font-family: $ff-medium;
}

h1 {
	text-align: center;
	font-size: toRem(35px);
	color: $color-js;
	text-shadow: 3px 3px #333;
}

#input {
	.btn {
		font-family: $ff-regular;
		font-weight: bolder;
		font-size: toRem(15px);
	}
	.btn-operators {
		font-size: toRem(25px);
	}
	.btn-others {
		font-size: toRem(18px);
	}
	#virg {
		font-size: toRem(22px);
	}
	#equal,
	#clear {
		font-size: toRem(25px);
	}
	.btn-specs {
		font-weight: bolder;
		font-size: toRem(18px);
	}
}
