// color
$color-js: rgb(243, 225, 62);
$color-bg: #444;
$color-btn: rgb(236, 236, 236);
$color-btn-others: rgba(195, 195, 195, 0.849);
$color-btn-operators: rgba(245, 255, 104, 0.849);
$color-btn-specs: rgba(218, 123, 197, 0.849);
$color-btn-equal: rgb(132, 214, 132);
